<p class="text-xs-center">Увійдіть для роботи</p>
<div
  class="alert alert-{{ message.type }}"
  *ngIf="message.text"
>
  {{ message.text }}
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group"
       [ngClass]="{'has-error': loginForm.get('email').invalid && loginForm.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введіть ваш email"
      formControlName="email"
    >
    <span class="form-help-text"
          *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
    >
      <ng-container *ngIf="loginForm.get('email').errors['required']">Email є обов'язковим</ng-container>
      <ng-container *ngIf="loginForm.get('email').errors['email']">Некоректний email</ng-container>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': loginForm.get('password').invalid && loginForm.get('password').touched}"
  >
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Пароль"
      formControlName="password"
    >
    <span class="form-help-text"
          *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
    >
      <ng-container *ngIf="loginForm.get('password').errors['required']">Пароль є обов'язковим</ng-container>
      <ng-container *ngIf="loginForm.get('password').errors['minlength']">
        Пароль занадто короткий. Мінімальна довжина {{loginForm.get('password').errors['minlength']['requiredLength']}} символів.
      </ng-container>
    </span>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-block btn-primary"
            [disabled]="loginForm.invalid"
    >
      Увійти
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Не зареєстровані? <a [routerLink]="'/registration'">Реєстрація</a>
    </p>
  </div>
</form>
