<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          Агрегатор списку студентів
        </h1>
      </header>
      <div class="auth-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
