<p class="text-xs-center">Зареєструйтесь для доступу</p>
<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <div class="form-group"
       [ngClass]="{'has-error': regForm.get('email').invalid && regForm.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введіть email"
      formControlName="email"
    >
    <span class="form-help-text"
          *ngIf="regForm.get('email').invalid && regForm.get('email').touched"
    >
      <ng-container *ngIf="regForm.get('email').errors['required']">Email є обов'язковим</ng-container>
      <ng-container *ngIf="regForm.get('email').errors['email']">Некоректний email</ng-container>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': regForm.get('password').invalid && regForm.get('password').touched}"
  >
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Введіть пароль"
      formControlName="password"
    >
    <span class="form-help-text"
          *ngIf="regForm.get('password').invalid && regForm.get('password').touched"
    >
      <ng-container *ngIf="regForm.get('password').errors['required']">Пароль є обов'язковим</ng-container>
      <ng-container *ngIf="regForm.get('password').errors['minlength']">
        Пароль занадто корткий. Мінімальна довжина {{regForm.get('password').errors['minlength']['requiredLength']}} символів.
      </ng-container>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': regForm.get('name').invalid && regForm.get('name').touched}"
  >
    <label for="name">Ім'я</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Введите имя"
      formControlName="name"
    >
    <span class="form-help-text"
          *ngIf="regForm.get('name').invalid && regForm.get('name').touched"
    >
      Ім'я є обов'язковим
    </span>
  </div>
  <div class="form-group">
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Згоден с правила користування</span>
    </label>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="regForm.invalid"
    >
      Зареєструватись
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Уже зареєстровані? :)
      <a routerLink="/login">
        Увійти!
      </a>
    </p>
  </div>
</form>
