<div class="students-list">
  <div class="filters">
  <form [formGroup]="form">
    <select formControlName="course"
            (change)="filter()">
      <option value="">Оберіть курс</option>
      <option *ngFor="let course of coursesList">
        {{ course }}
      </option>
    </select>
    <select formControlName="faculty"
            (change)="filter()">
      <option value="">Оберіть факультет</option>
      <option *ngFor="let faculty of facultiesList" [value]="faculty.id">
        {{ faculty.abbreviation }}
      </option>
    </select>
    <select formControlName="specialty"
            (change)="filter()">
      <option value="">Оберіть спеціальність</option>
      <option *ngFor="let specialty of specialtiesList" [value]="specialty.id">
        {{ specialty.name }}
      </option>
    </select>
    <select formControlName="group"
            (change)="filter()">
      <option value="">Оберіть групу</option>
      <option *ngFor="let group of groupsList" [value]="group.id">
        {{ group.name }}
      </option>
    </select>
  </form>
  </div>
  <table>
    <tr>
      <th>№</th>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Курс</th>
      <th>Факультет</th>
      <th>Спеціальність</th>
      <th>Група</th>
    </tr>
    <tr *ngFor="let student of filteredList, let index = index">
      <td>{{ index+1 }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.secondName }}</td>
      <td>{{ student.course}}</td>
      <td>{{ getFacultyById(student.facultyId) }}</td>
      <td>{{ getSpecialtyById(student.specialtyId) }}</td>
      <td>{{ getGroupById(student.groupId) }}</td>
    </tr>
    </table>
</div>


