.students-list {
  display: flex;
  min-height: 100vh;
  background-color: #657080;
  justify-content: space-between;
  padding: 10px;
}

.filters {
  width: 8%;
}

table {
  width: 85%;
  border: 1px solid rgb(20, 28, 71);
  background-color: #fff;
}

td,
th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  max-width: 300px;
  min-width: 100px;
}

select {
  width: 200px;
}
